<!DOCTYPE html>
{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyV</title>
    <link rel="stylesheet" href="{% static 'modal/css/howtouse134.css' %}" />
  </head>
  <body>
    <div class="flex">
      <div class="contents">
        <header>
          <div class="header-contents">
            <img
              class="backbutton"
              src="{% static 'modal/images/backbutton.svg' %}"
              onclick="location.href='{% url 'howtoUse2' %}'"
            /> <img class="logo" src="{% static 'modal/images/logo.svg' %}" onclick="location.href='{% url 'main1' %}'"/>
          </div>
          <div class="mobile_btn">
            <input type="checkbox" id="hamburger" />
            <label for="hamburger">
              <span></span>
              <span></span>
              <span></span>
            </label>
            <div class="sidebar">
              <img class="user-img" src="{% static 'modal/images/modal-face.svg' %}" width="100px" />
              <div class="modaltext">
                  <div class="user-info">
                      <p class="info1">MyV 회원</p>
                      <p class="info2">{{ user }}</p>
                  </div>
                  <ul class="nav_mobile">
                      <li><a href="{% url 'howtoUse1' %}">사용 방법</a></li>
                      <li><a href="{% url 'playlistPage' %}">플레이리스트</a></li>
                      <li><a href="{% url 'analyze' %}">보컬 분석</a></li>
                      <li><a href="{% url 'team' %}">팀 소개</a></li>
                      <li><a href="{% url 'account_logout' %}">로그아웃</a></li>
                  </ul>
                  <div class="wave">
                      <img src= "{% static 'modal/images/wave.png' %}" height="223px" />
                </div>
              </div>
            </div>
          </div>
        </header>
        <main>
          <div class="howtouse-text">
            <div class="title">
              <p>사용방법</p>
            </div>
            <div class="sub">당신에게 맞는 추천 노래를 확인하세요.</div>
          </div>
          <img class="iphone" src="{% static 'modal/images/how3.svg' %}" />
        </main>
        <footer>
          <input
            class="next-button"
            type="button"
            value="다음"
            onclick="location.href='{% url 'howtoUse4' %}'"
          />
          <div>
            <img class="steps" src="{% static 'modal/images/step3.svg' %}" />
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
