@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
* {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  margin: 0;
  padding: 0;
}
.contents{
  width:390px;
  height:844px;
  overflow: hidden;
}
.header-contents{
  width:348px;
  height:67px;
  left:5%;
  top:67px;
}
header{
  position:absolute;
  color:blue;
  top:3;
  width:30px;

}
.title{
  position:relative;
  left:27px;
  top:30px;
  font-size:17px;
  top:30px;
  text-align:center;
}

.backbutton{
  width:24px;
  height:24px;
  position:relative;
  left:10px;
  top:25px;
}
.logo{
  width:54px;
  height:27px;
  position:relative;
  left:20px;
  top:25px;
}
.modal{
  width:35px;
  height:30px;
  position:relative;
  left:225px;
  top:25px;
}
.show{
  text-align: center;
  position:relative;
  top:100px;
}

.logo1{
  width:54px;
  height:27px;
} 
.show1{
  top:300px;
}
.front{
  color:#5974fc;
}
.front_1{
  justify-content:center;
}
.back{
  color:#5974fc;
}
.back_1{
  justify-content:center;
}
.etc{
  font-size:13px;
  text-align:right;
}
