/* 폰트 불러오기 */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

@font-face {
  font-family: "YangJin";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/yangjin/YangJin.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/yangjin/YangJin?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/yangjin/YangJin.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/yangjin/YangJin.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/yangjin/YangJin.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "PyeongChangPeace";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "PyeongChangPeace";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.ttf")
      format("truetype");
  font-display: swap;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 각 페이지 위 로고와 모달 아이콘 */

#중앙로고 {
  display: inline;
  font-size: 23.4px;
  font-family: "Yangjin";
  background: linear-gradient(to right bottom, #1400ff, #6fbef8 60%, #53cde8);
  color: transparent;
  background-clip: border-box;
  -webkit-background-clip: text;
  position: fixed;
  left: 60px;
}
#모달아이콘 {
  position: fixed;
  left: 320px;
  top: 25px;
}

/* intro page CSS */

#Mainlogo1 {
  margin: 0;
  font-family: "YangJin";
  font-size: 52.87px;
  position: relative;
  top: 120px;
  left: 10px;
  background: linear-gradient(135deg, #1400ff, #6fbef8 27%, #53cde8);
  color: transparent;
  background-clip: border-box;
  -webkit-background-clip: text;
}
#Mainlogo2 {
  font-family: "YangJin";
  font-size: 19.2px;
  top: 120px;
  background: linear-gradient(to right bottom, #1400ff, #6fbef8, #53cde8);
  color: transparent;
  background-clip: border-box;
  -webkit-background-clip: text;
}
.sub {
  font-size: 20px;
  font-weight: 550;
  position: relative;
  top: 107px;
  left: 20px;
  letter-spacing: 0.6px;
}
#introduce1 {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
  position: relative;
  top: 107px;
  left: 13px;
  letter-spacing: 0.3px;
}
#introduce2 {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
  position: relative;
  top: 107px;
  left: 20px;
  letter-spacing: 0.3px;
}

div {
  width: 200px;
  height: 200px;
  border: 6px solid #eeeeee;
  border-radius: 400px;
  position: relative;
  left: 230px;
  bottom: 150px;
}
.rotate {
  animation: rotation 540s;
}
.linear {
  animation-timing-function: linear;
}
.infinte {
  animation-iteration-count: infinite;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(300000deg);
  }
}
img.linear {
  position: relative;
  right: 75px;
  bottom: 120px;
}

#signup {
  font-family: "PyeongChangPeace";
  font-weight: 700;
  padding: 27px;
  padding-left: 90px;
  padding-right: 110px;
  font-size: 23px;
  color: #eeeeee;
  position: relative;
  top: 140px;
  right: 10px;
  border: 0;
  outline: 0;
  background: linear-gradient(to right, #a99fe2, #2b2453);
}
#signin {
  font-family: "PyeongChangPeace";
  font-weight: 700;
  padding: 27px;
  padding-left: 60px;
  padding-right: 100px;
  font-size: 23px;
  color: #eeeeee;
  position: relative;
  top: 140px;
  right: 10px;
  background: linear-gradient(to right, #9ba2e7, #121743);
  border: 0;
  outline: 0;
}
#ourteam {
  font-family: "PyeongChangPeace";
  font-weight: 700;
  padding: 27px;
  padding-left: 45px;
  padding-right: 90px;
  font-size: 23px;
  color: white;
  position: relative;
  top: 140px;
  right: 10px;
  background: linear-gradient(to right, #5796d0, #10314f);
  border: 0;
  outline: 0;
}
#howtouse {
  font-family: "PyeongChangPeace";
  font-weight: 700;
  padding: 27px;
  padding-left: 35px;
  padding-right: 150px;
  font-size: 23px;
  color: white;
  position: relative;
  top: 140px;
  right: 10px;
  background: linear-gradient(to right, #52cce7, #2e768c);
  border: 0;
  outline: 0;
}

/* 녹음페이지 1 CSS */

#녹음하기 {
  display: inline;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  left: 153px;
  top: 130px;
}
#녹음버튼 {
  width: 130px;
  height: 130px;
  position: relative;
  left: 50px;
  top: 270px;
  background-color: #efefff;
  border: solid 10px #5d5fef;
  box-shadow: outset 10px 5px #efefff;
  border-radius: 100px;
}
#녹음타이머 {
  display: inline;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  color: #5d5fef;
  position: relative;
  right: 43px;
  top: 360px;
}

#저장버튼 {
  width: 315px;
  height: 51px;
  font-size: 18px;
  background-color: #5d5fef;
  color: #eeeeee;
  border: 0;
  outline: 0;
  box-shadow: none;
  border-radius: 100px;
  position: relative;
  left: 30px;
  top: 450px;
}
