{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyV</title>
    <link rel="stylesheet" href="{% static 'myauth/css/howtouse134.css' %}" />
    <link rel="icon" href="/static/myauth/images/favicon.ico">
  </head>
  <body>
    <div class="flex">
      <div class="contents">
        <header>
          <div class="header-contents">
            <img
            class="backbutton"
            src="{% static 'modal/images/backbutton.svg' %}"
            onclick="location.href='{% url 'index' %}'"
          />
          <img class="logo" src="{% static 'myauth/images/logo.svg' %}" onclick="location.href='{% url 'index' %}'"/>
          </div>
        </header>
        <main>
          <div class="howtouse-text">
            <div class="title">
              <p>사용방법</p>
            </div>
            <div class="sub">자신의 음악 취향을 등록하세요.</div>
          </div>
          <img class="iphone" src="{% static 'myauth/images/how1.svg' %}" />
        </main>
        <footer>
          <input
            class="next-button"
            type="button"
            value="다음"
            onclick="location.href='{% url 'howtouse2' %}'"
          />
          <div>
            <img class="steps" src="{% static 'myauth/images/step1.svg' %}" />
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
