{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyV</title>
    <meta property="og:url" content="http://52.78.181.82:8000/">
  <meta property="og:title" content="MyV">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/static/myauth/images/intro.png"/>
  <meta property="og:description" content="당신의 18번을 찾아드릴 MyV 서비스">
  <link rel="icon" href="/static/myauth/images/favicon.ico">
    <link rel="stylesheet" href={% static 'myauth/css/intropage.css'%}/>
  </head>
  <body>
    <div class="flex">
      <div class="contents">
        <header>
          <div class="container">
            <ul class="box1">
              <li class="wave1" id="w11">
                <img src={% static 'myauth/images/v/wc1.png'%} />
              </li>
              <li class="wave2" id="w12">
                <img src= {% static 'myauth/images/v/wc2.png'%} />
              </li>
              <li class="wave3" id="w13">
                <img src={% static 'myauth/images/v/wc3.png'%} />
              </li>
              <li class="wave4" id="w14">
                <img src={% static 'myauth/images/v/wc4.png'%} />
              </li>
            </ul>
            <ul class="box2">
              <li class="wave1" id="w21">
                <img src={% static 'myauth/images/v/wc1.png'%} />
              </li>
              <li class="wave2" id="w22">
                <img src={% static 'myauth/images/v/wc2.png'%} />
              </li>
              <li class="wave3" id="w23">
                <img src={% static 'myauth/images/v/wc3.png'%} />
              </li>
              <li class="wave4" id="w24">
                <img src={% static 'myauth/images/v/wc4.png'%} />
              </li>
            </ul>
          </div>
        </header>
        <main>
          <img class="Mainlogo1" src={% static 'myauth/images/logo.svg'%} />
          <p class="sub">당신의 18번을 찾아드립니다🎵</p>
          <p class="introduce">
            <img class="Mainlogo2" src={% static 'myauth/images/logo.svg'%} />
            <a class="introduce2">는 당신의 아름다운 목소리에 가장 걸맞는</a>
          </p>

          <p class="introduce">노래를 추천 해주는 서비스입니다.</p>
        </main>
        <footer>
          <input
            class="button"
            id="signup"
            type="button"
            value="Sign-UP"
            onclick="location.href='../account/signup'"
          />
          <input
            class="button"
            id="signin"
            type="button"
            value="Log-IN"
            onclick="location.href='../account/login'"
          />
          <input 
            class="button"
            id="ourteam" 
            type="button" 
            value="Our-Team" 
            onclick="location.href='{% url 'team1' %}'"
          />
          <input
            class="button"
            id="howtouse"
            type="button"
            value="How-To-Use"
            onclick="location.href='{% url 'howtouse1' %}'"
          />

          <div class="vinyle">
            <img
              class="linear infinite rotate"
              width="477px"
              src={% static 'myauth/images/레코드_판.png'%}
            />
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
