/* 폰트 불러오기 */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  margin: 0;
  padding: 0;
}
.flex {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contents {
  width: 390px;
  height: 844px;
  overflow: hidden;
}

header {
  height: 85px;
  display: flex;
  justify-content: center;
  /* background-color: black; */
}

.logo {
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 40px;
  left: 0px;
}
.modal-open {
  width: 35px;
  height: 30px;
  margin-left: auto;
  margin-right: 25px;
  margin-top: 25px;
}

.modal {
  position: relative;
  display: flex;

  justify-content: center;
  top: 0;
  left: 0%;

  width: 250px;
  height: 550px;

  background-color: rgba(0, 0, 0, 0.4);
}

.btn-open-modal {
  position: relative;
  right: 30%;
  border: none;
  background-color: #eeeeee;
}

/* 녹음페이지 1 CSS */

.record {
  display: inline;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  left: 153px;
  top: 70px;
}
#recording_button {
  width: 130px;
  height: 130px;
  border-radius: 100px;
  background-color: #efefff;
  border: solid 10px #5d5fef;
  position: relative;
  top: 220px;
}
.timer_js_timer {
  display: inline;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  color: #5d5fef;
  position: relative;
  left: 95px;
  top: 300px;
}

#save_button {
  width: 315px;
  height: 51px;
  border: 0;
  border-radius: 100px;
  font-size: 18px;
  background-color: #5d5fef;
  color: #eeeeee;

  position: relative;
  left: 35px;
  top: 390px;
}

/* Ellipse 2

position: absolute;
width: 132px;
height: 132px;
left: 124px;
top: 275px;

background: #5a7eff;
opacity: 0.36;
 */

/* Ellipse 3 
position: absolute;
width: 110px;
height: 110px;
left: 135px;
top: 286px;

background: #EFEFFF;
box-shadow: -4px 0px 4px rgba(255, 255, 255, 0.5), 4px 0px 4px rgba(255, 255, 255, 0.5), 0px -4px 3px rgba(255, 255, 255, 0.25), 0px 4px 3px rgba(0, 0, 0, 0.25);
filter: blur(0.5px); */
