@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

@font-face {
  font-family: "YangJin";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/yangjin/YangJin.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/yangjin/YangJin?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/yangjin/YangJin.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/yangjin/YangJin.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/yangjin/YangJin.ttf")
      format("truetype");
  font-display: swap;
}

* {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  margin: 0;
  padding: 0;
}

.flex {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contents {
  width: 390px;
  height: 844px;
  overflow: hidden;
}

/*****/

.container {
  position: relative;
  display: flex;

  width: 1000px;
  height: 170px;
  overflow: hidden;
}

.wave1 {
  z-index: 0;
  top: -5px;
}
.wave2 {
  z-index: 1;
  top: -10px;
}
.wave3 {
  z-index: 2;
}
.wave4 {
  z-index: 3;
}

.wave1,
.wave2,
.wave3,
.wave4 {
  position: absolute;
  display: flex;
  height: 100px;
}

#w11 {
  animation: waving1;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
#w12 {
  animation: waving1;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
#w13 {
  animation: waving1;
  animation-iteration-count: infinite;
  animation-duration: 2.3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
#w14 {
  animation: waving1;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
#w21 {
  animation: waving2;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
#w22 {
  animation: waving2;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
#w23 {
  animation: waving2;
  animation-iteration-count: infinite;
  animation-duration: 2.3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
#w24 {
  animation: waving2;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes waving1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes waving2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
/***/

.back_btn {
  padding-left: 20px;
  margin-bottom: 10px;
}

.header-content {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 20px;
}

.header-content h2 {
  padding-left: 5px;
  margin-bottom: 0;
}

#login-form {
  margin-top: 30px;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
}

.label {
  font-size: 10px;
}

.login-input {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 30px;
  border: 2px solid lightgrey;
  border-radius: 10px;
  outline: none;
  width: 300px;
  height: 50px;
  text-indent: 7px;
}

#submit-button {
  position: relative;
  left: 55px;

  margin-top: 10px;
  width: 179px;
  height: 40px;
  padding: 10px;
  background-color: rgb(80, 90, 238);
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
}

.find-id {
  font-size: 9px;
  position: absolute;
  bottom: 20%;
  left: 50%;
}

.forget-id {
  position: relative;
  right: 100%;
  font-weight: 500;
}
.find-password {
  position: relative;
  bottom: 18px;
  left: 40px;
}
