
{% extends "account/base.html" %}

{% load static %}
{% load widget_tweaks %}


{% block content %}
<div class="account-background">
  <main class="account">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}비밀번호 재설정{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'signup/css/signup1.css' %}" />
    <link rel="icon" href="{% static 'myauth/images/favicon.ico' %}">
  </head>
  <body>
    <div class="flex">
      <div class="contents">
        <header>
          <div class="container">
            <ul class="box1">
              <li class="wave1" id="w11">
                <img src="{% static 'signup/images/v/wc1.png' %}" />
              </li>
              <li class="wave2" id="w12">
                <img src="{% static 'signup/images/v/wc2.png' %}" />
              </li>
              <li class="wave3" id="w13">
                <img src="{% static 'signup/images/v/wc3.png' %}" />
              </li>
              <li class="wave4" id="w14">
                <img src="{% static 'signup/images/v/wc4.png' %}" />
              </li>
            </ul>
            <ul class="box2">
              <li class="wave1" id="w21">
                <img src="{% static 'signup/images/v/wc1.png' %}" />
              </li>
              <li class="wave2" id="w22">
                <img src="{% static 'signup/images/v/wc2.png' %}" />
              </li>
              <li class="wave3" id="w23">
                <img src="{% static 'signup/images/v/wc3.png' %}" />
              </li>
              <li class="wave4" id="w24">
                <img src="{% static 'signup/images/v/wc4.png' %}" />
              </li>
            </ul>
          </div>
          <input
            class="back_btn"
            type="image"
            src="{% static 'signup/images/backbutton.svg' %}"
            onclick="location.href='{% url 'index' %}'"
          />
          <div class="header-content">
            <img
              id="logo"
              src="{% static 'signup/images/logo.svg' %}"
              width="104px"
              height="43px"
              left="30px"
            />
            
        
            <h2 class="title">비밀번호 재설정</h2>
          </div>
        </header>

        <p>비밀번호가 재설정되었습니다.</p>
        <a class="cp-button inverted button" href="{% url 'account_login' %}">로그인</a>
      
  </main>
</div>
{% endblock content %}
