{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}회원가입 완료{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'signup/css/signup4.css' %}" />  <!-- 정적 파일 로딩 -->
    <link rel="icon" href="{% static 'myauth/images/favicon.ico' %}">
  </head>
  <body>
    <div class="flex">
      <div class="contents">
        <header>
          <div class="container">
            <ul class="box1">
              <li class="wave1" id="w11">
                <img src="{% static 'signup/images/v/wc1.png' %}" />
              </li>
              <li class="wave2" id="w12">
                <img src="{% static 'signup/images/v/wc2.png' %}" />
              </li>
              <li class="wave3" id="w13">
                <img src="{% static 'signup/images/v/wc3.png' %}" />
              </li>
              <li class="wave4" id="w14">
                <img src="{% static 'signup/images/v/wc4.png' %}" />
              </li>
            </ul>
            <ul class="box2">
              <li class="wave1" id="w21">
                <img src="{% static 'signup/images/v/wc1.png' %}" />
              </li>
              <li class="wave2" id="w22">
                <img src="{% static 'signup/images/v/wc2.png' %}" />
              </li>
              <li class="wave3" id="w23">
                <img src="{% static 'signup/images/v/wc3.png' %}" />
              </li>
              <li class="wave4" id="w24">
                <img src="{% static 'signup/images/v/wc4.png' %}" />
              </li>
            </ul>
          </div>
          <input
            class="back_btn"
            type="image"
            src="{% static 'signup/images/backbutton.svg' %}"
            onclick="location.href='{% url 'account_logout' %}'"
          />
          <div class="header-content">
            <img id="logo" src="{% static 'signup/images/logo.svg' %}" width="99px" height="40px" />
            <h2 class="title">{% block header_title %}회원가입 완료{% endblock %}</h2>
          </div>
          <img class="con" src="{% static 'signup/images/congra.svg' %}" />
        </header>
        <main>
          <div>
            <img class="firecracker" src="{% static 'signup/images/firecracker.svg' %}" />
            <img class="ballons" src="{% static 'signup/images/ballons.svg' %}" />
          </div>
          <div class="text1">
            <p>환영합니다!</p>
            <p>{{user.nickname}}님의 회원가입이 완료되었습니다.</p>
          </div>
          <div class="text2">
            <p>지금 바로 MyV에서</p>
            <p>당신에게 어울리는 노래를 찾아보세요</p>
          </div>
        </main>
        <footer>
            <input class="next-step-button" type="submit" value="확인" onclick="location.href='{% url 'main1' %}'" />
            />
          </form>
        </footer>
      </div>
    </div>
  </body>
</html>
