{% load static %}  <!-- 정적 파일 로더 -->
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}signup2{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'signup/css/signup2.css' %}">
        <link rel="icon" href="/static/myauth/images/favicon.ico">
    </head>
    <body>
        <div class="flex">
            <div class="contents">
                <header>
                    <div class="container">
                        <ul class="box1">
                            <li class="wave1" id="w11">
                                <img src="{% static 'signup/images/v/wc1.png' %}">
                            </li>
                            <li class="wave2" id="w12">
                                <img src="{% static 'signup/images/v/wc2.png' %}">
                            </li>
                            <li class="wave3" id="w13">
                                <img src="{% static 'signup/images/v/wc3.png' %}">
                            </li>
                            <li class="wave4" id="w14">
                                <img src="{% static 'signup/images/v/wc4.png' %}">
                            </li>
                        </ul>
                        <ul class="box2">
                            <li class="wave1" id="w21">
                                <img src="{% static 'signup/images/v/wc1.png' %}">
                            </li>
                            <li class="wave2" id="w22">
                                <img src="{% static 'signup/images/v/wc2.png' %}">
                            </li>
                            <li class="wave3" id="w23">
                                <img src="{% static 'signup/images/v/wc3.png' %}">
                            </li>
                            <li class="wave4" id="w24">
                                <img src="{% static 'signup/images/v/wc4.png' %}">
                            </li>
                        </ul>
                    </div>
                    
                    <div class="header-content">
                        <img id="logo" src="{% static 'signup/images/logo.svg' %}" width="104px" height="43px">
                        <h2 class="title">성향분석</h2>
                    </div>
                    <div>
                        <p class="text">
                            당신의 성향을 바탕으로 노래를 추천해드려요🎵
                        </p>
                    </div>
                </header>
                <main class="slider-form">
                    <form id="preferences-form" method="POST" action="{% url 'save_preferences' %}">
                        {% csrf_token %}
                        <div class="slider1">
                            <div class="slider-text"><span>선호하는 분위기</span></div>
                            <input class="slider-1" id="slider-1" type="range" min="0" max="10" value="5" name="mood" steps="1"/>
                            <div><img class="steps" src="{% static 'signup/images/Steps.svg' %}" width="300px"></div>
                            <div><span class="steps-left">차분한 분위기</span><span class="steps-right">긍정적인 분위기</span></div>
                        </div>
                        <div class="slider2">
                            <div class="slider-text"><span>곡의 에너지</span></div>
                            <input class="slider-2" id="slider-2" type="range" min="0" max="10" value="5" name="energy" steps="1"/>
                            <div><img class="steps" src="{% static 'signup/images/Steps.svg' %}" width="300px"></div>
                            <div class="step-text"><p class="steps-left">낮은게 좋아요</p><p class="steps-right">높은게 좋아요</p></div>
                        </div>
                        <div class="slider3">
                            <div class="slider-text"><span>선호하는 음악의 빠르기</span></div>
                            <input class="slider-3" id="slider-3" type="range" min="0" max="10" value="5" name="tempo" steps="1"/>
                            <div><img class="steps" src="{% static 'signup/images/Steps.svg' %}" width="300px"></div>
                            <div><span class="steps-left2">애국가 정도의 빠르기</span><span class="steps-right">소녀시대 gee정도의 빠르기</span></div>
                        </div>
                        <footer>
                            <button type="submit" class="next-step-button">다음 단계로 넘어가기</button>
                        </footer>
                    </form>
                </main>
            </div>
        </div>
    </body>
    </html>
    
    <script>
        const updateSliderBackground = (slider) => {
            const gradient_value = 100 / slider.max;
            slider.style.background = `linear-gradient(to right, #32a6f9 0%, #32a6f9 ${gradient_value * slider.value}%, rgb(214, 237, 253) ${gradient_value * slider.value}%, rgb(214, 237, 253) 100%)`;
        };
    
        document.querySelectorAll('input[type="range"]').forEach((slider) => {
            slider.addEventListener('input', (event) => updateSliderBackground(event.target));
            updateSliderBackground(slider);
        });
    </script>