@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
* {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
body{
  margin: 0;
  padding: 0;
}
.flex{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contents{
  width:390px;
  height:844px;
  overflow: hidden;
}
.header-contents{
  width:348px;
  height:67px;
  left:5%;
  top:67px;
}

.title{
  position:relative;
  left:27px;
  top:30px;
  font-size:17px;
  top:30px;
  text-align:center;
}

.backbutton{
  width:24px;
  height:24px;
  position:relative;
  left:10px;
  top:25px;
}
.logo{
  width:54px;
  height:27px;
  position:relative;
  left:20px;
  top:25px;
}
.modal{
  width:35px;
  height:30px;
  position:relative;
  top:25px;
  left:250px;
}
.show{
  text-align: center;
  position:relative;
  top:20px;
}

.logo1{
  width:54px;
  height:27px;
} 
.front_1{
  color:#5974fc
}
.front_2{
  display:flex;
  margin:20px
}

.profile{
  width:100px;
  height:150px;
  margin:3px 3px 3px 3px;
  text-align:center;
}
.back_1{
  color:#5974fc
}
.back_2{
  display:flex;
  margin:20px;
}

.etc{
  font-size:13px;
  text-align:right;
}
