@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
  margin: 0;
}

.flex {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contents {
  width: 390px;
  height: 844px;
  overflow: hidden;
}


.header-content h2 {
  /*padding-left: 5px;*/
  margin-bottom: 0;
}

/*최고음과 최저음을 녹음한 파일을 업로드 해주세요 텍스트*/
.textbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.textbox p {
  font-weight: 500;
  margin: 0 0 8px 0;
}

#last{
  margin: 3px 0 0 0 ;
}

/*주의해주세요 핑크 박스 부분*/
.warningBox {
  margin:40px 0 40px 0;
  width: 309px;
  height: 120px;
  padding: 0px 8px 8px 8px;
  border-radius: 10px;
  background-color:rgba(255, 238, 238, 0.7); /* 0.7은 투명도 70%를 의미 */
}
.warning_text{
  display: inline-flex;
  justify-items: center;
}
.warning_text h3 {
  padding:5px 0 0 5px;
  margin:0;
  color: #FF1515;
}
.warningBox p {
  margin: 5px 0 0 0 ;
}

/*파일 업로드 버튼 부분*/
.file-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}

.btn-upload {
  width: 166px;
  height: 45px;
  font-size: 20px;
  color:#fff;
  background: #8DADFF;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: #5E59FF;
    color: #fff;
  }
}

.mysound, .comparesound{
  /*업로드 버튼 커스텀하기*/
  display: inline-flex;
  margin-bottom: 20px;
  align-items: center;
}

#mysound-file, #comparesound-file{
  /*파입업로드 버튼 숨기기*/
  display: none;
}

.custom-checkbox {
  margin: 0 0 20px 20px;
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #8DADFF;
  background-color: white;
  text-align: center;
  border-radius: 5px;
}

.custom-checkbox:before {
  content: '';  /* 빈 콘텐츠로 체크박스 표시를 제어 */
}

input[type='checkbox']:checked + .custom-checkbox:before {
  content: '✔';  /* 선택되었을 때 체크 마크 표시 */
  color: #5F5BD9;  /* 체크 마크 색상인데 안바뀜 ㅠㅠ*/
}

footer {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.file-upload-button{
  justify-content: center;
  display: flex;
  width: 150px;
  height: 30px;
  color: black;
  border: 0;
  border-radius: 5px;
}
.next-step-button {
  margin-top:45 px;
  top: 470px;
  width: 300px;
  height: 50px;
  color: white;
  background-color: #5e59ff;
  border: 0;
  border-radius: 5px;
}


.header {
  width: 844px;
  height: 130px;
}

.header-contents {
  position: relative;
  left: 5%;
  top: 30px;
  margin-bottom: 80px;
}
.logo {
  width: 65px;
  padding-left: 15px;
}

/**modal css**/

a {
  text-decoration: none;
  color: black;
}

/**버튼 위치**/

.mobile_btn {
  position: absolute;
  top: 35px;
  left: 300px;
}

/****/

input[id="hamburger"] {
  display: none;
}

/**버튼 사이즈**/

input[id="hamburger"] + label {
  display: block;
  width: 30px;
  height: 20px;
  position: relative;
  left: 100%;
  cursor: pointer;
}

/****/
/**modal icon**/

input[id="hamburger"] + label span {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 30px;
  background: #000;
  transition: all 0.35s;
}
input[id="hamburger"] + label span:nth-child(1) {
  top: 0;
}
input[id="hamburger"] + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
input[id="hamburger"] + label span:nth-child(3) {
  bottom: 0;
}
input[id="hamburger"]:checked + label {
  z-index: 99;
}
input[id="hamburger"]:checked + label span {
  background: black;
}
input[id="hamburger"]:checked + label span:nth-child(1) {
  width: 25px;
  top: 103.5%;
  transform: translateY(-60%) rotate(150deg);
}
input[id="hamburger"]:checked + label span:nth-child(2) {
  opacity: 0;
}
input[id="hamburger"]:checked + label span:nth-child(3) {
  width: 25px;
  bottom: 55%;
  transform: translateY(50%) rotate(-150deg);
}
/****/

/**modal**/

div[class="sidebar"] {
  width: 166px;
  height: 844px;
  background: white;
  background-image: linear-gradient(to right, rgb(222, 222, 222), white 20%);
  position: fixed;
  top: 0%;
  left: 200%;
  z-index: 98;
  transition: all 0.35s;
  overflow: hidden;
}

/****/

input[id="hamburger"]:checked + label + div {
  left: 223px;
}

/** modal contents form**/
.nav_mobile {
  position: absolute;
  top: 119px;
  width: 100%;
  padding:0px;
}
/****/
/** modal contents text**/
.sidebar .nav_mobile li {
  color: black;
  position: relative;
  float: left;
  width: 100%;
  list-style-type: none;
  font-size: 17px;
  font-family: "Noto Sans KR";
  font-weight: bold;
  padding-top: 15px;
  text-align: right;
}
/****/

.sidebar a {
  padding: 0;
  text-decoration: none;
  display: inline;
}

.sidebar li a {
  display: inline;
  font-weight: bold;
  line-height: 40px;
  margin-left: 0px;

  padding-right: 25px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s;
}

.sidebar li a:hover,
.sidebar ul li:hover a {
  text-decoration: none;
  color: #5d5fef;
  padding-left: 5px;
  margin: 0px;
  border: 0px;
}

.user-img {
  position: relative;
  left: 50px;
  top: 10%;
}

.user-info {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  padding-right: 25px;
}

.info1,
.info2 {
  padding-top: 10px;
}

.modaltext {
  position: relative;
  top: 10%;
}

.wave {
  transform: translateY(50%) rotate(119deg);
  position: relative;
  left: 60%;
  top: 93.5px;
}